.main {
    background-image: url("img/bj.jpg");
    width: 260px;
    height: 50px;
    margin: auto;
    border: 1px solid #5d7b97;
    border-radius: 5px;
}

.main h4 {
    /*margin: auto;*/
    text-align: center;
    color: #fffffe;
    margin-top: 15px;
    margin-left: 28px;
    position: absolute;
    display: inline;
}

img {
    border-radius: 225px;
    margin-top: 1px;
    margin-left: 5px;
}